<div class="card mb-3 ">


    <img src="../../../assets//img/pokeapi.jpeg" class="card-img-top" alt="pokeApi">
    <div class="card-body">
      <p class="card-text text-light"><b class="text-info">PokemonApp:</b> este proyecto es una aplicación que simula una batalla Pokémon. Utiliza la API PokeAPI para extraer datos necesarios como tipo, daño de ataque y daño recibido según las estadísticas del Pokémon. Para generar la batalla, el usuario elige el primer y segundo Pokémon que participarán en la simulación. Basándose en las estadísticas de cada Pokémon, se determinará el resultado de la batalla: victoria, derrota o empate.</p>
      <p> <b>Características Principales:</b></p>
      <ul class="text-light">
        <li>Generación de una estructura de proyecto organizada: organiza el proyecto en módulos y componentes, asegurando una arquitectura clara y escalable
          </li>
        <li>Define interfaces bien estructuradas para facilitar la interacción entre los diferentes componentes del sistema</li>
        <li>Interfaz de Usuario Interactiva: la aplicación presenta una interfaz inspirada en el estilo de batalla de Street Fighter, adaptada a la temática de las batallas Pokémon.</li>
        <li>Define interfaces bien estructuradas para facilitar la interacción entre los diferentes componentes del sistema</li>
        <li>Diseña una experiencia de usuario atractiva y dinámica, que invite a los usuarios a participar en las batallas</li>
        <li>Filtro de Pokémon: implementa un sistema de filtrado que permita a los usuarios buscar y seleccionar Pokémon según diferentes criterios como tipo, habilidades, estadísticas, etc.</li>
        <li>Peticiones a la API de PokeAPI: realiza las peticiones necesarias a PokeAPI para obtener datos completos sobre los Pokémon, incluyendo tipos, características, daños, virtudes, y otros atributos relevantes</li>
      </ul>

      <p><b>Tecnologías:</b></p>
      <span class="badge bg-info text-primary-emphasis">Angular</span>
      <span class="badge bg-info text-primary-emphasis">TypeScript</span>
      <span class="badge bg-info text-primary-emphasis">PokeApi</span>
      <span class="badge bg-info text-primary-emphasis">HTML</span>
      <span class="badge bg-info text-primary-emphasis">CSS</span>
      <span class="badge bg-info text-primary-emphasis">Boostrap</span>
    </div>


</div>

<div class="card mb-3">

  <img src="../../../assets//img/crud.JPG" class="card-img-top" alt="pokeApi">
  <div class="card-body">
    <p class="card-text text-light"><b class="text-info">CrudProductsApp:</b> este proyecto es una aplicación web que implementa un sistema completo de gestión de productos utilizando un enfoque CRUD (Crear, Leer, Actualizar, Eliminar). La aplicación permite a los usuarios gestionar una lista de productos de manera intuitiva y eficiente. La interfaz del frontend está desarrollada en Angular, mientras que el backend se implementa utilizando Node.js con Express y una base de datos MySQL.</p>
    <p> <b>Características Principales:</b></p>
    <ul class="text-light">
      <li>Interfaz de Usuario Interactiva: La aplicación cuenta con un diseño amigable y responsivo que permite a los usuarios visualizar la lista de productos, así como realizar operaciones de manera sencilla.</li>
      <li>Crear Productos: Los usuarios pueden agregar nuevos productos a la base de datos a través de un formulario, proporcionando información como nombre, descripción, precio y cantidad en stock</li>
      <li>Leer Productos: La aplicación muestra una tabla con todos los productos almacenados en la base de datos, con la capacidad de filtrar y buscar productos específicos para facilitar la navegación</li>
      <li>Actualizar Productos: Los usuarios pueden editar los detalles de un producto existente, asegurando que la información esté siempre actualizada. Esto se realiza mediante un modal que permite modificar la información sin salir de la página</li>
    </ul>
    <p><b>Tecnologías:</b></p>
    <span class="badge bg-info text-primary-emphasis">Angular</span>
    <span class="badge bg-info text-primary-emphasis">TypeScript</span>
    <span class="badge bg-info text-primary-emphasis">HTML</span>
    <span class="badge bg-info text-primary-emphasis">CSS</span>
    <span class="badge bg-info text-primary-emphasis">Boostrap</span>
    <span class="badge bg-info text-primary-emphasis">Node</span>
    <span class="badge bg-info text-primary-emphasis">JavaScript</span>
    <span class="badge bg-info text-primary-emphasis">Express</span>
  </div>
</div>

<div class="card mb-3">

  <img src="../../../assets//img/paises.JPG" class="card-img-top" alt="pokeApi">
    <div class="card-body">
    <p class="card-text text-light"><b class="text-info">CountryApp:</b> este proyecto desarrollado en Angular permite a los usuarios buscar información sobre países de todo el mundo. Los usuarios pueden realizar búsquedas basadas en la capital, el nombre del país o la región, lo que facilita el acceso a datos relevantes de manera rápida y eficiente.
    </p>
     <p> <b>Características Principales:</b></p>
      <ul class="text-light">
        <li>Búsqueda por Capital: Los usuarios pueden introducir el nombre de una capital y obtener una lista de países que tienen esa ciudad como capital
        </li>
        <li>Búsqueda por País: Permite buscar directamente por el nombre del país, mostrando información detallada sobre el país seleccionado, incluyendo su población, área e idiomas
          </li>
        <li> Búsqueda por Región: La aplicación ofrece la opción de filtrar los resultados por diferentes regiones del mundo, como Europa, Asia, África, etc </li>

      </ul>
      <p> <b>Tecnologías:</b></p>
    <span class="badge bg-info text-primary-emphasis">Angular</span>
    <span class="badge bg-info text-primary-emphasis">TypeScript</span>
    <span class="badge bg-info text-primary-emphasis">HTML</span>
    <span class="badge bg-info text-primary-emphasis">CSS</span>
    <span class="badge bg-info text-primary-emphasis">Boostrap</span>

  </div>
</div>



