<div class="card mb-3 ">

  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none " width="100%" height="200" aria-label="Placeholder: Image cap"
  focusable="false" role="imagen" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
  style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>

    <text x="50%" y="50%" fill="#dee2e6" dy=".3em" > </text>
  </svg>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card mb-3">

  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card mb-3">

  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <div class="card-body">
    <p class="card-text">Este proyecto desarrollado en Angular permite a los usuarios buscar información sobre países de todo el mundo. Los usuarios pueden realizar búsquedas basadas en la capital, el nombre del país o la región, lo que facilita el acceso a datos relevantes de manera rápida y eficiente.
    </p>
     <p>Características Principales:</p>
      <ul>
        <li>Búsqueda por Capital: Los usuarios pueden introducir el nombre de una capital y obtener una lista de países que tienen esa ciudad como capital
        </li>
        <li>Búsqueda por País: Permite buscar directamente por el nombre del país, mostrando información detallada sobre el país seleccionado, incluyendo su población, área e idiomas
          </li>
        <li> Búsqueda por Región: La aplicación ofrece la opción de filtrar los resultados por diferentes regiones del mundo, como Europa, Asia, África, etc </li>

      </ul>

  </div>
</div>



