<h2 class="text-secondary">Bienvenido a mi Portafolio</h2>
<p class="text-light"> Soy una profesional con una sólida formación en telemática y gestión de proyectos de TI, enfocada en
  sistemas basados en el conocimiento, gestión de datos y metadatos. Experiencia en la
  planificación, análisis, diseño y desarrollo de proyectos de software. Cuento con
  competencias adicionales en contabilidad y finanzas, aportando una perspectiva integral en
  la ejecución y administración de proyectos tecnológicos</p>


  <div class="mb-3">
    <div class="card-body">
      <h4 class="card-title text-info" >Habilidades técnicas</h4>
       <ul class="justify text-light">
        <li>Analista, diseñador y desarrollador de sistemas de información</li>
        <li>Administrador de sistemas computacionales, de comunicaciones y de bases de datos</li>
        <li>Analista de procesos basados en información</li>
        <li>Investigador en los campos de Sistemas, Ciencias de la Computación y tecnologías de la información</li>
        <li>Gestor de proyectos de software</li>
        <li>Constructor y diseño de software</li>
        <li>Conocimientos en SQL Server</li>
      </ul>
    </div>
    <div class="card-body mt-3">
      <h4 class="card-title text-info">Habilidades blandas</h4>
       <ul class=" text-light">
        <li>Resolución de problemas</li>
        <li>Atención al detalle</li>
        <li>Trabajo en equipo</li>
        <li>Adaptabilidad y Flexibilidad</li>
      </ul>
    </div>
  </div>
 <!--  <div >
     <div class="left-section ">
    <div class="card mb-3" >

      <div class="card-body">
        <h4 class="card-title">Habilidades técnicas</h4>
         <ul class="card-text">
          <li>Analista, diseñador y desarrollador de sistemas de información</li>
          <li>Administrador de sistemas computacionales, de comunicaciones y de bases de datos</li>
          <li>Analista de procesos basados en información</li>
          <li>Investigador en los campos de Sistemas, Ciencias de la Computación y tecnologías de la información</li>
          <li>Gestor de proyectos de software</li>
          <li>Constructor y diseño de software</li>
          <li>Conocimientos en SQL Server</li>
        </ul>
      </div>
  </div>

  <div class="right-section">
    <div class="card  mb-3" >
      <div class="card-body">
        <h4 class="card-title">Habilidades blandas</h4>
         <ul class="card-text">
          <li>Resolución de problemas</li>
          <li>Atención al detalle</li>
          <li>Trabajo en equipo</li>
          <li>Adaptabilidad y Flexibilidad</li>

        </ul>
      </div>
  </div>
  </div> -->





