nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}



p{
  text-align: justify; /* Justifica el texto */
}

.card{
  width: 100%;
}
.justify{
  text-align: justify; /* Justifica el texto */
}


