
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Desarrollador junior Frontend y bases de datos</h4>
    <h6 class="card-subtitle mb-2 text-muted">Empresa: Unidad de búsqueda de personas dadas por desaparecidas<br>
      Abril 2023 – Junio 2024</h6>
    <p class="card-text">En este cargo he tenido la oportunidad de trabajar como desarrolladora Frontend con la
      tecnología de Angular y sus librerías, también en la creación de consultas en SQL Server, para
      la gestión del sistema de información misional Busquemos, donde he tenido las siguientes
      responsabilidades:</p>
      <UL>
        <li>Análisis, diseño y construcción de pantallas </li>
        <li>Documentación de desarrollos</li>
        <li>Testing mediante Jasmine</li>
        <li>Seguridad del aplicativo Frontend</li>
        <li>Construcción de querys en SQLServer</li>
        <li>Aplicación de principios SOLID</li>
      </UL>
  <!--   <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Apoyo en la gestión de los proyectos de seguridad de Datos y Metadatos      </h4>
    <h6 class="card-subtitle mb-2 text-muted">Empresa: MINTIC<br>
      Agosto 2021 – Mayo 2022</h6>
    <p class="card-text">Tuve la posibilidad de hacer parte en la gestión del proyecto de seguridad de datos y
      metadatos para el MinTic, donde intervine activamente en el equipo responsable de:
    </p>
    <UL>
      <li>Identificación de requisitos de Seguridad de datos y Metadatos </li>
      <li>Definición de las Políticas, lineamientos y procedimientos para llevar acabo la
        implementación de la seguridad de datos y metadatos</li>
      <li>Definición de las fuentes de datos y clasificación de los datos sensibles</li>
      <li>Identificación y evaluación de los riesgos de los datos sensibles</li>
      <li>Establecer e Implementación de seguridad de datos y gestión de Metadatos</li>
      <li>Capacitadora: programa de sensibilización en seguridad y privacidad de los datos</li>
      <li>Capacitadora: definición e implementación estrategia de gestión de metadatos
      </li>
    </UL>

  </div>
</div>


